html {
  font-size: 62.5%;
}

body {
  font-size: 1.4em;
  font-family: "Arial","宋体",sans-serif;
  letter-spacing: 1px;
  line-height: 1.6em;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 2.0em;
  font-weight: bold;
  font-family: "Arial","Microsoft YaHei","黑体","宋体",sans-serif; 
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.2em;
}

h3 {
  font-size: 1.1em;
}

article h2:before {
  content: "| ";
}


::-moz-selection {
    background: #D6EDFF;
}

::selection {
    background: #D6EDFF;
}

a {
  color: #606060;
  text-decoration: none;
  border-bottom: 1px dashed black;
  transition: color ease 0.3s;
}

a:hover {
  color: #111;
  text-decoration: none;
}

code {
    padding: 1px 3px;
    font-size: 0.85em;
    font-family: consolas, monospace, sans-serif;
    white-space: pre-wrap;
    border: #E3EDF3 1px solid;
    background: #F7FAFB;
    border-radius: 2px;
}

pre {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0 0 1.75em 0;
    border: #E3EDF3 1px solid;
    width: 100%;
    padding: 10px;
    font-family: consolas, monospace, sans-serif;
    font-size: 0.9em;
    white-space: pre;
    overflow: auto;
    background: #F7FAFB;
    border-radius: 3px;
}

pre code {
    white-space: -moz-pre-wrap;
    white-space: pre-wrap;
    background: transparent;
    border: none;
    padding: 0;
}

img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

table {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 1.75em 0;
    width: 100%;
    max-width: 100%;
    background-color: transparent;
}

table th,
table td {
    padding: 8px;
    line-height: 20px;
    text-align: left;
    vertical-align: top;
    border-top: #EFEFEF 1px solid;
}

header {
  text-align: center;
}

footer {
  border-top: #CFCFCF 1px solid;
  text-align: center;
  font-size: 0.8em;
}

.post {
  max-width: 760px;
  margin: 0 auto;
}

.about {
  border-top: #CFCFCF 1px solid;
}

.desc {
  margin-top: -1em;
  margin-left: 1em;
  font-size: 0.8em;
}